.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
dist
dist-ssr
extensions
.dannn
drizzle
dist_client
client_dist
sqlite.db
app_dist
dannn_dist
resources/drizzle
electron-builder.json